spring:
  datasource:
    url: jdbc:postgresql://db:5432/homerepair
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

gg:
  jte:
    developmentMode: false
    templateLocation: ''
